html{
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica;
}
.site{
  max-width: 960px;
}
.menu{
  display: none;
}
.bannercontainer{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-position: center;
  background-size: cover;
  height: 30rem;
  width: 100%;
}

.headercontainer{
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  margin-left: auto;
  margin-right: auto;
}

.headercontainer img{
  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem;
}
.headercontainer span{
  font-size: 1rem;
  color: white;
}
.leftside{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rightside{
  display: flex;
}

.rightside span{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.banner{
  display: flex;
  justify-content: flex-end;
  padding-top: 10rem;
  position: relative;
  margin-right: 2rem;

}
.bannerpan{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  background-color: white;
}

.image{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  text-align: center;
}

.imagecontainer img{
  width: 5rem;
  margin-bottom: 1rem;
}
.imagecontainer{
  display: flex;
  justify-content: center;
  height: 8rem;
  padding-bottom: 3rem;
  font-weight: bold;
}

.descriptioncontainer{
  display: flex;
  justify-content: center;
}

.description{
  padding-left: 6rem;
  padding-right: 6rem;
}

.tabcontainer{
  display: flex;
  justify-content: center;

}

.tabitself{
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  width: 10rem;
  color: white;
  margin-bottom: 1rem;
}

.tab {
  margin: 10rem;
}

.thefooter{
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
}

.footercontainer{
  background-color: azure;
  margin: auto;
}
.thefooter img{
  height: 1.5rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 768px) {
  .site{
    max-width: 100%;
  }
  .banner{
    display: flex;
    justify-content: flex-end;
    padding-top: 5rem;
    position: relative;
    margin-right: 2rem;
  }
  .banner span{
    font-weight: bold;
    font-size: 1.33rem;
    line-height: 1.2;
    padding: .75rem 4rem;
    background-color: white;
  }
  .bannercontainer{
    height: 22rem;
    background-position: center;
    background-size: cover;
  }
  .tab {
    margin: 2rem;
  }
  .footercontainer{
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 560px){
  .site{
    max-width: 100%;
  }
  .rightside .menu{
    display: flex;
    justify-content: flex-end;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .rightside .nonmenu{
    display: none;
  }
  .rightside {
    display: flex;
    justify-content: flex-end;
  }
  .banner{
    padding-top: 15rem;
    width: 100%;

  }
  .bannerspan{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
  }
  .infocontainer{
    padding-top: 3.77rem;
    padding-bottom: 3.77rem;
  }
  .imagecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
  }
  .image{
    display: flex;

  }
  .tabcontainer{
    display: flex;
    flex-direction: column;
  }
  .tabitself{
    width: 100%;
    text-align: center;
  }
}
